{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}

{% set sidebar = page.extra.sidebar_content %}

{% block content %}
<main class="flex flex-wrap gap-2">
    
    <div class="flex-auto grow {% if page.extra.sidebar_content %} basis-full sm:basis-auto w-3/5 {% else %} basis-full {% endif %}">
        {% if page.extra.image %}
        <img class="object-cover w-full max-h-64 overflow-auto rounded-xl mb-4 mx-auto shadow-lg"src="{{page.extra.image}}"/>
        {% endif%}
    
        {% if page.extra.sidebar_content %}
        {# <div>{{ page.extra.sidebar_content | markdown(inline=true) | safe }} </div> #}
        {% endif %}
    
        <div class="mb-4 p-3 mx-auto dark:bg-gray-900 bg-gray-300 bg-opacity-75 rounded-xl">
            
            <h1 class=" dark:text-gray-100 text-gray-800 text-2xl">{{ page.title }}</h1>
    
            {% if page.date %}
            <p class="dark:text-gray-300 text-gray-600 text-lg">{{ page.date | date(format="%-d %B, %Y") }}</p>
            {% endif %}
    
            <div class="text-slate-200 hame-markdown">
                {{ page.content | safe }}
            </div>
    
        </div>
    </div>

    {% if page.extra.sidebar_content %}
    <div class="hame-card flex-auto basis-full sm:basis-1/4">
        <div class="hame-markdown">
            {{ page.extra.sidebar_content | markdown(inline=true) | safe }}
        </div>
        
    </div>
    {% endif %}
    

</main>
{% endblock content %}
